@model dynamic

@{
    ViewBag.Title = "EditRoles";
}

@section styles {
    @Styles.Render("~/Content/themes/base/all.css")

    <style>
        ul.listRoles
        {
          width: 300px;
          height: auto;
          padding: 5px;
          margin: 5px;
          list-style-type: none;
          border-radius: 5px;
          min-height: 500px;
        }
        ul.listRoles li
        {
          padding: 5px;
          margin: 10px;
          background-color: #ffff99;
          cursor: pointer;
          border: 1px solid Black;
          border-radius: 5px;
        }
    </style>
}

<h2>Assign Roles</h2>

@using(Html.BeginForm("Ass"))


@section scripts
{
    <script>
        $
    </script>
}
