@model DevTimer.Models.WorkerListViewModel
           
@{
    ViewBag.Title = "Workers";

}

<div class="caption">
    <i class="fa fa-briefcase"></i>
    Workers
</div>
<div class="btn-group"></div>
<div class="btn-group pull-right margin-top-bottom">
    <button onclick="window.location.href='/Workers/Edit/0'" id="newWorker" class="btn btn-success">
        Add New
        <i class="fa fa-plus"></i>
    </button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        Options
        <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu pull-right">
        <li><a href="/Clients">Export to Excel</a></li>
    </ul>
</div>
<div>
    <table id="WorkerList"
           class="table table-striped table-hover table-condensed"
           data-classes="table table-striped table-hover table-condensed"
           data-striped="true"
           data-toggle="table"
           data-url="/api/workers"
           data-side-pagination="server"
           data-pagination="true"
           data-pagination-v-align="top"
           data-query-params-type="Else"
           data-page-list="[5, 10, 20, 50, 100, 200]"
           data-id-field="id"
           data-action-edit-url="/Worker/Edit/%(id)d">
        <thead>
            <tr>
                <th data-field="id">@Html.DisplayNameFor(m => m.ID)</th>
                <th data-field="email">@Html.DisplayNameFor(model => model.Email)</th>
                <th data-formatter="DEVTIMER.formatColumn.editActions" data-events="DEVTIMER.columnEvents.actions">Actions</th>
            </tr>
        </thead>
    </table>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/bootstrap-table")

    <script language="javascript">

        $(function () {
            'use strict';

            var $list = $('#WorkerList');

            var tableOptions = $list.bootstrapTable('getOptions');

            tableOptions.queryParams = function (params) {
                return $.extend(params,
				{

				});
            };

            $list.bootstrapTable('refresh');
        });
    </script>
}